<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panjoy.web.dao.OrdersCustomMapper">
	<!-- <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.User"> 
		<id column="id" property="id" jdbcType="BIGINT" /> <result column="username" 
		property="username" jdbcType="VARCHAR" /> <result column="password" property="password" 
		jdbcType="CHAR" /> <result column="state" property="state" jdbcType="VARCHAR" 
		/> <result column="create_time" property="createTime" jdbcType="TIMESTAMP" 
		/> </resultMap> -->
	<!-- 查询订单，关联查询用户信息 -->
	<select id="findOrdersUser" resultType="com.panjoy.web.domain.OrdersCustom">
		SELECT t1.*,
		t2.username,
		t2.sex,
		t2.address
		FROM
		orders t1,
		t_user t2
		WHERE t1.user_id=t2.id
	</select>

</mapper>